// gackgroung-color
$primary: #080D1F;
$homebgColor:rgba(245, 209, 143, 0.678);
$sectionPadding:10px;
$containerMaxWidth:1250px;
// fontColor
$primaryColor:white;
// for border-radius variable
$smBorderRadius:10px;
$mdBorderRadius:15px;
$lgBorderRadius:20px;
$fullBorderRadius:50%;
$secondaryFontColor:rgb(243, 193, 100);
$cardFontColor:rgb(69, 62, 62);
// for border

$lightBorder:1px solid white;

// font-family
$smothFont : "Exo 2",sans-serif ;